# Easier navigation
alias ..="cd .."
alias cd..="cd .."

# Shortcuts
alias g="git"
alias v="vim"

# File size
alias fs="stat -f \"%z bytes\""

# List
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
